<header>
  <nav>
    <a href="/"> Book Trading Club</a>
    <ul>
    <li><a href="/authors">AUTHORS</a></li>
    <li><a href="/authors/new">ADD AUTHOR</a></li>

     <li><a href="/books">BOOKS</a></li>
    <li><a href="/books/new">ADD BOOK</a></li>
  
    </ul>
    </nav>
</header>

